.git/
.github/
.vscode/
.idea/
node_modules/
.next/
dist/
coverage/
coverage-integration/
playwright-report/
test-results/
allure-results/
allure-report/
.yarn/cache/
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/unplugged/
*.tsbuildinfo
*.sqlite3
docs/
test/e2e/
.env
.env.local
